body
{
    font-family: Tahoma, Geneva, sans-serif;
    color: #fff;
    background: url(https://i.pinimg.com/originals/76/8e/22/768e224e50a77473d7387415681bdadb.jpg);
    background-size: cover;
}

.forget
{
    background: rgba(44,62,80,0.7);
    padding: 40px;
    width: 250px;
    margin: auto;
    margin-top: 80px;
    height: 250px;
    margin-left: 500px;;
}

form{
    width: 240px;
    text-align: center;
}

input{
    width: 240px;
    text-align: center;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    font-family: 'Play', sans-serif;
    font-size: 16px;
    font-weight: 200px;
    padding: 10px 0;
    transition: border 0.5s;
    outline: none;
    color: #fff;
}

input:hover{
    color: aquamarine;
    background: #5f6769;
}

input[type=submit]
{
    border: none;
    width: 150px;
    background: white;
    color: #000;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    border-radius: 15px;
    cursor: pointer;
}

input[type=submit]:hover
{
    color: #fff;
    background-color: black;
}

h2{
    color: #fff;
}

a{
    color: yellow;
    text-decoration: blink;
}

a:hover
{
    color: skyblue;
}

::placeholder{
    color: #f2eee5;
    opacity:0.8;
}

@media only screen and (max-width: 500px) {
    body {
      background-image:url('cream.jpg');
    }
  }