body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    background: url(https://i.pinimg.com/originals/26/3f/59/263f59a8ffb93929d25360effcef19b2.jpg);
    background-size: cover;
    height: auto;
}

.signup{
    background: rgba(44,62,80,0.7);
    padding:40px;
    width: 250px;
    height: 430px;
    margin: auto;
    margin-top: 80px;
    height: 430px;
    margin-left: 180px;
    margin: 0 auto;
    margin-top: 90px;
}

form{
    width: 240px;
    text-align: center;
}

input{
    width: 240px;
    text-align: center;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    font-family: 'Play', sans-serif;
    font-size: 16px;
    font-weight: 200px;
    padding: 10px 0;
    transition: border 0.5s;
    outline: none;
    color: #fff;
}

input:hover{
    color: aquamarine;
    background: #5f6769;
}

input[type=submit]
{
    border: none;
    width: 190px;
    background: white;
    color: #000;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    border-radius: 15px;
    cursor: pointer;
}

input[type=submit]:hover
{
    color: #fff;
    background-color: #f7be16;
}

h2{
    color: #000;
}

a{
    color: yellow;
    text-decoration: blink;
}

a:hover
{
    color: skyblue;
}

::placeholder{
    color: #f2eee5;
    opacity:2
}

@media only screen and (max-width: 500px) {
    body {
      background-image:url('cream.jpg');
    }
  }



@media only screen and (min-width: 750px) {
    /* For tablets: */
    .signup {width: 43%;}
  }

  @media only screen and (min-width: 768px) {
    /* For tablets: */
    .signup {width: 20%;}
  }

  @media
    (-webkit-min-device-pixel-ratio: 2), 
    (min-resolution: 192dpi) {
    .img {
      background-image: url(https://i.pinimg.com/originals/26/3f/59/263f59a8ffb93929d25360effcef19b2.jpg);
    }
  }
  @media
    (min-width: 800px) {
    .img {
      background-image: url(https://i.pinimg.com/originals/26/3f/59/263f59a8ffb93929d25360effcef19b2.jpg);
    }
  }
  @media
    (-webkit-min-device-pixel-ratio: 2) and (min-width: 800px), 
    (min-resolution: 192dpi) and (min-width: 800px) {
    .img {
      background-image: url(https://i.pinimg.com/originals/26/3f/59/263f59a8ffb93929d25360effcef19b2.jpg);
    }
  }